#homeLayout {
  // background-color: #e0faf8;
  //   height: 100vh;
  // position: relative;
  .homeLayoutContent {
    position: relative;
  }

  .homeLayoutBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e0faf8;
  }
}
